{% set abs_url = app.request.scheme ~'://' ~ app.request.httpHost %}
<img src="{{ abs_url ~ asset('bundles/core/images/louvre_logo.jpeg') }}" style="width: 100%">

<div style="text-align: center">
    <h1  style="margin-top: 30px">Musée du Louvre</h1>

    <strong>Votre réservation a bien été prise en compte. <br/>
        Vous trouverez un pdf contenant vos billets en pièce jointe. <br/>
        Pensez à imprimer vos billets et à les amener avec vous le jour de votre visite. <br/>
        Si vous bénéficiez d'un tarif réduit, n'oubliez pas non plus votre justificatif. </strong><br><br>
        Merci d'avoir utilisé notre service de réservation en ligne et à bientôt !
</div>
