.form-group {
    margin-bottom: 30px;
}

@media (min-width: 992px){
    .marginTop30{
        margin-top: 30px;
    }

    .tarif {
        margin-top: 60px;
    }
    .prix {
        margin-top: 50px;
    }
}

#content{
    margin-bottom: 180px;
}