{% extends "CoreBundle::layout.html.twig" %}


{% block title %}
    Confirmation - {{ parent() }}
{% endblock %}

{% block body %}

    <h2 class="text-center">Votre réservation a bien été prise en compte</h2>
    <p class="well col-md-8 col-md-offset-2 marginTop30">
        Nous vous avons envoyé un e-mail contenant vos billets, ne les oubliez pas le jour de votre visite !<br/>
        Nous vous remercions d'avoir utilisé notre service de réservation en ligne. A bientôt !
    </p>

{% endblock %}