{% extends "CoreBundle::layout.html.twig" %}


{% block title %}
    Confirmation - {{ parent() }}
{% endblock %}

{% block body %}

    <p class="well col-md-8 col-md-offset-2">
        Votre commande a bien été enregistrée.
    </p>

{% endblock %}