{% extends "CoreBundle::layout.html.twig" %}


{% block title %}
    Confirmation - {{ parent() }}
{% endblock %}

{% block body %}
    <h2>Une erreur s'est produite...</h2>
    {% for message in app.session.flashbag.get('error') %}
        <div class="alert alert-warning">{{ message }}</div>
    {% endfor %}
    {% if retry == "true" %}
        <div class="text-center">
            <a href="{{ path('core_payment') }}" class="btn btn-primary btn-lg">Réessayer</a>
        </div>
    {% endif %}

{% endblock %}